In [1]:
import pandas as pd
import datetime

In [2]:
 #create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2024-06-29 14:47:51.189796
1  2024-06-28 14:47:51.189796
2  2024-06-27 14:47:51.189796
3  2024-06-26 14:47:51.189796
4  2024-06-25 14:47:51.189796
5  2024-06-24 14:47:51.189796
6  2024-06-23 14:47:51.189796
7  2024-06-22 14:47:51.189796
8  2024-06-21 14:47:51.189796
9  2024-06-20 14:47:51.189796
10 2024-06-19 14:47:51.189796
11 2024-06-18 14:47:51.189796
12 2024-06-17 14:47:51.189796
13 2024-06-16 14:47:51.189796
14 2024-06-15 14:47:51.189796
15 2024-06-14 14:47:51.189796
16 2024-06-13 14:47:51.189796
17 2024-06-12 14:47:51.189796
18 2024-06-11 14:47:51.189796
19 2024-06-10 14:47:51.189796

In [6]:
# extract the week day name

df['day_of_week'] = df['day'].dt.weekday_name
df.head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'